### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/emilyye/BOOTCAMP WORK/TEMP/schools_complete.csv"
student_data_to_load = "/Users/emilyye/BOOTCAMP WORK/TEMP/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = len(school_data.index)

total_students = len(student_data.index)

total_budget = school_data["budget"].sum()

average_math_dist = student_data["math_score"].mean()

average_reading_dist = student_data["reading_score"].mean()

#math_passing_percent = students with a score above 70/total students
math_passing = len(student_data.loc[student_data["math_score"] >= 70, :])
math_passing_percent = math_passing/total_students

# reading_passing_percent
reading_passing = len(student_data.loc[student_data["reading_score"] >= 70, :])
reading_passing_percent = reading_passing/total_students

# math_reading_passing_percent
math_reading_passing = len(student_data.loc[(student_data["math_score"] >=70) & (student_data["reading_score"] >= 70), :])
math_reading_passing_percent = math_reading_passing/total_students

# districtSumm_df = pd.DataFrame()
district_summ_df = pd.DataFrame([
    {"Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": average_math_dist,
    "Average Reading Score": average_reading_dist,
    "Percent of Students Passing Math": math_passing_percent,
    "Percent of Students Passing Reading": reading_passing_percent,
    "Percent of Students Passing Math and Reading": math_reading_passing_percent}]
)

district_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Percent of Students Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# make a copy of school_data_complete, which already holds some of the answers needed (school name, school type, total students, total school budget)
bySchool = school_data_complete

bySchool_gb = school_data_complete.groupby(["school_name"])

#calculate per student budget and add that to the bySchool DF
school_data["Per Student Budget"] = school_data["budget"]/school_data["size"]

bySchool_per_student = school_data.set_index(["school_name"])["Per Student Budget"]

# set the right indexes for non-calc'd answers (for answers that already exist in the original csv files)
bySchool_type = school_data.set_index(["school_name"])["type"]

bySchool_size = school_data.set_index(["school_name"])["size"]

bySchool_budget = school_data.set_index(["school_name"])["budget"]

# calculate percent passing math

filt_school_math = bySchool.loc[bySchool["math_score"]>=70,:]

passing_math = filt_school_math.groupby(["school_name"]).count()["math_score"]

students_per_school = bySchool.groupby(["school_name"]).count()["size"]

percent_passing_math = passing_math/students_per_school

# calculate percent passing reading
filt_school_reading = bySchool.loc[bySchool["reading_score"]>=70,:]

passing_reading = filt_school_reading.groupby(["school_name"]).count()["reading_score"]

percent_passing_reading = passing_reading/students_per_school

# calculate percent passing both

filt_school_both = bySchool.loc[(bySchool["reading_score"]>=70) & (bySchool["math_score"] >= 70), :]

passing_both = filt_school_both.groupby(["school_name"]).count()["reading_score"]

percent_passing_both = passing_both/students_per_school

#group by school to calculate average math, average reading

average_math = bySchool_gb["math_score"].mean()

average_reading = bySchool_gb["reading_score"].mean()

#combine everything into one dataframe

school_summ_df = pd.DataFrame(
     {"School Type": bySchool_type,
      "Total Students": bySchool_size,
      "Total Budget": bySchool_budget,
      "Budget Per Student": bySchool_per_student,
      "Average Math Score": average_math,
      "Average Reading Score": average_reading,
      "% Passing Math": percent_passing_math,
      "% Passing Reading": percent_passing_reading,
      "% Passing Both": percent_passing_both})

school_summ_df

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
school_sorted_best = school_summ_df.sort_values(["% Passing Both"],ascending=False)
school_sorted_best.head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
school_sorted_worst = school_summ_df.sort_values(["% Passing Both"],ascending=True)

school_sorted_worst.head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# grouped series for 9th grade
ninth = student_data.loc[school_data_complete["grade"] == "9th",:]
ninth_gb = ninth.groupby(["school_name"]).mean()["math_score"]

# grouped series for 10th grade
tenth = student_data.loc[school_data_complete["grade"] == "10th",:]
tenth_gb = tenth.groupby(["school_name"]).mean()["math_score"]

# grouped series for 11th grade
eleventh = student_data.loc[school_data_complete["grade"] == "11th",:]
eleventh_gb = eleventh.groupby(["school_name"]).mean()["math_score"]

# grouped series for 12th grade
twelfth = student_data.loc[school_data_complete["grade"] == "12th",:]
twelfth_gb = twelfth.groupby(["school_name"]).mean()["math_score"]

# combine the series into a dataframe

math_by_grade = pd.DataFrame({
    "Average 9th Grade Math Score": ninth_gb,
    "Average 10th Grade Math Score": tenth_gb,
    "Average 11th Grade Math Score": eleventh_gb,
    "Average 12th Grade Math Score": twelfth_gb,
})

math_by_grade

,Average 9th Grade Math Score,Average 10th Grade Math Score,Average 11th Grade Math Score,Average 12th Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
# grouped series for 9th grade
ninth_r = student_data.loc[school_data_complete["grade"] == "9th",:]
ninth_gb_r = ninth_r.groupby(["school_name"]).mean()["reading_score"]

# grouped series for 10th grade
tenth_r = student_data.loc[school_data_complete["grade"] == "10th",:]
tenth_gb_r = tenth_r.groupby(["school_name"]).mean()["reading_score"]

# grouped series for 11th grade
eleventh_r = student_data.loc[school_data_complete["grade"] == "11th",:]
eleventh_gb_r = eleventh_r.groupby(["school_name"]).mean()["reading_score"]

# grouped series for 12th grade
twelfth_r = student_data.loc[school_data_complete["grade"] == "12th",:]
twelfth_gb_r = twelfth_r.groupby(["school_name"]).mean()["reading_score"]

# combine the series into a dataframe

reading_by_grade = pd.DataFrame({
    "Average 9th Grade Reading Score": ninth_gb_r,
    "Average 10th Grade Reading Score": tenth_gb_r,
    "Average 11th Grade Reading Score": eleventh_gb_r,
    "Average 12th Grade Reading Score": twelfth_gb_r,
})

reading_by_grade

,Average 9th Grade Reading Score,Average 10th Grade Reading Score,Average 11th Grade Reading Score,Average 12th Grade Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Define bins and labels

bins = [0,585,630,645,680]

labels = ["<585", "585-630","630-645","645-680"]

# making a copy of a previous DB and bininng by spending ranges per student
school_spending = school_summ_df
school_spending["Average Spending Range Per Student"] = pd.cut(school_spending["Budget Per Student"],bins, labels=labels)

# Groupby spending ranges

spending_scores = school_spending.groupby(["Average Spending Range Per Student"])

average_math_score_ss = spending_scores.mean()["Average Math Score"]
average_reading_score_ss = spending_scores.mean()["Average Reading Score"]
percent_passing_math_ss = spending_scores.mean()["% Passing Math"]
percent_passing_reading_ss = spending_scores.mean()["% Passing Reading"]
percent_passing_both_ss = spending_scores.mean()["% Passing Both"]

ss_summary = pd.DataFrame({
    "Average Math Score": average_math_score_ss,
    "Average Reading Score": average_reading_score_ss,
    "% Passing Math": percent_passing_math_ss,
    "% Passing Reading": percent_passing_reading_ss,
    "% Overall Passing": percent_passing_both_ss
}
)

ss_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Average Spending Range Per Student,,,,,
<585,83.455399,83.933814,0.934601,0.966109,0.903695
585-630,81.899826,83.155286,0.871335,0.927182,0.814186
630-645,78.518855,81.624473,0.734842,0.843918,0.628577
645-680,76.997210,81.027843,0.661648,0.811340,0.535269

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# define the bins and labels

bins_size = [0,1000, 2000, 5000]

labels_size = ["<1000","1000-2000","2000-5000"]

# define 
scores_size = school_summ_df
scores_size["School Size"] = pd.cut(scores_size["Total Students"],bins_size, labels=labels_size)

# Groupby size ranges and create a new DF based on that

scores_size_gb = scores_size.groupby(["School Size"])

average_math_score_size = scores_size_gb.mean()["Average Math Score"]
average_reading_score_size = scores_size_gb.mean()["Average Reading Score"]
percent_passing_math_size = scores_size_gb.mean()["% Passing Math"]
percent_passing_reading_size = scores_size_gb.mean()["% Passing Reading"]
percent_passing_both_size = scores_size_gb.mean()["% Passing Both"]

ss_summary_size = pd.DataFrame({
    "Average Math Score": average_math_score_size,
    "Average Reading Score": average_reading_score_size,
    "% Passing Math": percent_passing_math_size,
    "% Passing Reading": percent_passing_reading_size,
    "% Overall Passing": percent_passing_both_size
}
)

ss_summary_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
<1000,83.821598,83.929843,0.935502,0.960994,0.898839
1000-2000,83.374684,83.864438,0.935997,0.967907,0.906215
2000-5000,77.746417,81.344493,0.699634,0.827666,0.582860

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
# Groupby spending ranges

scores_type = school_summ_df.groupby(["School Type"])

average_math_score_type = scores_type.mean()["Average Math Score"]
average_reading_score_type = scores_type.mean()["Average Reading Score"]
percent_passing_math_type = scores_type.mean()["% Passing Math"]
percent_passing_reading_type = scores_type.mean()["% Passing Reading"]
percent_passing_both_type = scores_type.mean()["% Passing Both"]

ss_summary_school_type = pd.DataFrame({
    "Average Math Score": average_math_score_type,
    "Average Reading Score": average_reading_score_type,
    "% Passing Math": percent_passing_math_type,
    "% Passing Reading": percent_passing_reading_type,
    "% Overall Passing": percent_passing_both_type
}
)

ss_summary_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722

 # Written Reflection:

1) Looking at the data for top and lowest performing schools by % overall pass rates, charter schools seem to do better than district ones.

2) Maybe counterintuitively, spending seems to be inversely correlated with % overall pass rates. Schools with lower ranges of spending per student tend to have higher pass rates.

3) At the same time, schools with a larger number of students have lower overall pass rate percentages.